*

!.gitignore
!.gitlab-ci.yml
!*.cpp
!README.md

!/data/
!/data/*ubyte

!/models/
!/models/*.out

!/include/
!/include/*.hpp
!/include/learning/
!/include/learning/*.hpp

!/include/network/
!/include/network/*.hpp

!/include/utility/
!/include/utility/*.hpp




