*

!.gitignore
!.gitlab-ci.yml
!README.md

!/data/
!/data/*ubyte

!/models/
!/models/*.out

!/include/
!/include/*.hpp
!/include/learning/
!/include/learning/*.hpp

!/include/network/
!/include/network/*.hpp

!/include/utility/
!/include/utility/*.hpp

!/test/
!/test/*cpp
!/test/meson.build

!/example/
!/example/*.cpp




